.call-to-action {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 48px;
  margin: auto;
  background-color: var(--accent);
  border-radius: 10px;
  padding: 40px;
}

.call-to-action p {
  color: var(--text-dark);
  font-weight: 500;
  font-size: 18px;
}

.call-heading {
  font-weight: 700 !important;
  font-size: 24px !important;
}

.sign-up {
  border: 3px solid var(--text-dark);
}

.call-bg {
  box-sizing: border-box;
  background-color: aliceblue;
  padding: 100px 250px;
}
