.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-light);
}

.info > h1 {
  margin: 48px auto !important;
  color: var(--text-dark);
}

.info > ul {
  display: flex;
  gap: 48px;
  justify-content: center;
}

li {
  list-style-type: none;
  max-width: 200px;
}

li > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

li > p {
  text-align: center;
  color: var(--text-dark);
  font-weight: 600;
}

.info em {
  color: var(--accent);
  background-color: var(--bg-dark);
}
